/*Search Bar length*/
input {
    width: 400px;
}

/* Header and Background */
.header {
    overflow: hidden;
    background-color: white;
    padding: 0px 0px;
}

/*Header styling*/
.topnav {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: none;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    width: 100%;
}

/*Header Logo*/
.topnav a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* styling of active/current link*/
.topnav a.active {
    background-color: none;
    color: none;
    
}

/* Float Links to the right */
.topnav-right {
    float: right;
}

/* logo float */
.logo{
    float: left;
}
