.firearms-rentals {
    text-align: center;
}

.ammo-for-rent {
    text-align: center;
    font-size: 200%;
}

.image-row {
    height:80%;
    width:80%;
    position:relative;
    border:1px solid #000;
    margin:0 auto;
    text-align: center;
}
