.firearms-rentals {
    text-align: center;
    font-size: 100%;
}

.ammo-for-rent {
    text-align: center;
    font-size: 200%;
    padding-top: 50px;
}

.image-row,
.ammo-text {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.ammo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.selection {
    text-align: center;
    font-size: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rental-pricing {
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    height: 80%;
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.firearm-rentals {
    text-align: center;
    padding-top: 50px;
}

.handgun-title > h2{
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    text-decoration: underline;
}
